@{
    Layout = "~/Views/Shared/_LayoutGreen.cshtml";
    ViewBag.Title = "Oferta académica";
}

<div class="oferta-container">
    <div class="row collapse">
        <div class="small-8 column">
            <ul class="menu menu-oferta">
                <li class="li-menu-oferta"><a class="lnk-menu-oferta" data-id="calendario">CALENDARIO</a></li>
                <li class="li-menu-oferta"><a class="lnk-menu-oferta" data-id="maestros">MAESTROS</a></li>
                <li class="li-menu-oferta"><a class="lnk-menu-oferta" data-id="talleres">TALLERES</a></li>
                <li class="li-menu-oferta"><a class="lnk-menu-oferta" data-id="diplomados">DIPLOMADOS</a></li>
                <li class="li-menu-oferta"><a class="lnk-menu-oferta" data-id="asesoria">ASESORIA</a></li>
            </ul>
            <div class="oferta-descripcion" id="calendario">
                <h1 class="title-oferta text-center">Mtro. Alberto Lázaro Palmero Soto</h1>
                <p class="p-oferta">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
            </div>
            <div class="oferta-descripcion oculto" id="maestros">
                <h1 class="title-oferta text-center">Maestros</h1>

            </div>
            <div class="oferta-descripcion oculto" id="talleres">
                <h1 class="title-oferta text-center">Talleres</h1>
            </div>
            <div class="oferta-descripcion oculto" id="diplomados">
                <h1 class="title-oferta text-center">Diplomados</h1>
            </div>
            <div class="oferta-descripcion oculto" id="asesoria">
                <h1 class="title-oferta text-center">Asesoria</h1>
            </div>
            <div style="width:150px; height:250px; float:left"></div>
        </div>
        <div class="small-4 column">
            <img class="img-maestro" src="~/Images/Oferta/Oferta_Academica_Maestro.png" />
        </div>
    </div>
</div>
